@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

/* #Maiiiiiiiiiiiiiiin */

header{
    background-color: #f0f0f0;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 10px 200px;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.Me{
    text-decoration: none;
    color: rgb(17, 75, 235);
    font-size: 1.6em;
    font-weight: 700;
    text-transform: uppercase;
}

header nav a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2em;
    padding-left: 20px;
    color: rgb(17, 75, 235);
}
header nav a:hover{
    color: rgb(7, 16, 187);
}

section{
    padding: 100px 200px;    
}

.main{
    color: #f0f0f0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/me-1.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.main h2{
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 125px;
}
.main h2 span{
    /* color: rgb(102, 36, 173); */
    color: rgb(15, 89, 185);
    display: inline-block;
    font-size: 2.2em;
    font-weight: 800;
    letter-spacing: 4px;
    margin: 10px 0px;
}

.main h3{
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 10px;
}
.main-btn{
    color: #f0f0f0;
    background-color: rgb(41, 36, 181);
    /* padding: 10px 20px; */
    padding: 0.9375em 2.1875em;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 1.1 em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    transition: 0.7s ease;
}

.main-btn:hover{
    background-color: blue;
    transform: scale(1.1);
}

.social-icon a{
    margin-right: 25px;
    color: white;
    font-size: 1.7em;
}

/* .test{
    border: 2px solid black;
    margin-top: 200px;
    display: inline-block;  
    margin-bottom: 39px;
} */



/* #serviiiiiiiiiiiiiiiiiices */
.services{
    width: 100%;
    min-height: 100vh;
}
.title{
    display: flex;
    text-align: center;
    justify-content: center;
    /* color: rgb(7, 14, 159); */
    color: rgb(5, 60, 211) ;
    font-size: 1.8em;
    font-weight: 800;
}

.container{
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.service-card{
    background-color: #f0f0f0;
    width: 20.2em;
    min-width: 15em;
    padding: 25px;
    box-shadow: 0 5px 25px rgba(1 1 1/ 15%);
    border-radius: 10px;
    text-align: center;
    transition: 0.7s ease;
    margin: 20px;
    /* margin-bottom: 30px; */
}

.service-card:hover{
    transform: scale(1.1);
}

.ser-icon img{
    /* font-size: 4em; */
    width: 6em;
    margin-bottom: 30px;
}

.service-card h3{
    margin-bottom:20px ;

}



/* #projecccccccccccccts */
.projects{
    background-color: black;
}

.project-card{
    background-color: #f0f0f0;
    width: 22.5em;
    min-width: 15em;
    min-height: 14em;        
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.7s ease;
    margin: 5px ;
    /* margin-right: px; */
    /* margin-right: auto; */
    /* margin: auto; */
}

.project-card:hover{
    transform: scale(1.05);
}
.project-card:hover .project-image{
    opacity: 0.9;

}

.project-image img{
    width: 100%; 
    height: 12em;
}

.project-info{
    padding: 5px 10px;
}

.project-category{
    font-size: 0.9em;
    margin-bottom: 10px;
}

.project-info strong{
    display: flex;
    justify-content: space-between;
}
.more-details{
    text-decoration: none;
    transition: 0.4s ease;
}
.more-details:hover{
    color: blueviolet;

}



/* #contacccccccccccccct */

.Card-co{
    text-decoration: none;
}

.contact-card{
    background-color: white;
    word-wrap: break-word; /* This ensures that long text breaks into new lines */
}


.contact-icon i{
    /* color: rgb(54, 4, 169); */
    color: rgb(5, 60, 211) ;    
    font-size: 4em;
    margin-top: 10px;
    margin-bottom: 30px;
}

.contact-card h4{
    text-decoration: none;
    color: black;
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: 600;
}




.footer{
    background-color: black;
    color: white;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer p{
    font-size: 1.2em;
    font-weight: 500;
}
.footer a{
    text-decoration: none;
}
.footer span{
    /* color: rgb(17, 75, 235); */
    color: #3a6cf4;
    font-weight: 700;
}
.footer .social-icon a{
    margin-right: 10px;
    font-size: 1.4em;
}


@media (max-width:1380px) {
    body{
        font-size: 14px;
    }
    header{
        padding: 10px 60px;
    }
    header nav a{
        text-decoration: none;
        font-weight: 600;
        font-size: 1.1em;
        padding-left: 15px;
        color: rgb(17, 75, 235);
    }
    .Me{
        font-size: 1.4em;
    }
    section{  
        padding: 50px 90px;
    }
    .social-icon a{
        font-size: 1.7em;
        margin-right: 23px;
    }
    .main{
        color: #f0f0f0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        background: url(images/me-2.png);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
}
@media (max-width:740px) {
    body{
        font-size: 12px;
    }
    header{
        padding: 10px 50px;
    }
    
    .Me{
        font-size: 1.3em;
    }
     .social-icon a{
        font-size: 1.6em;
        margin-right: 22px;
    }
    section{
        padding: 40px 80px;
    }
    header nav a{
        text-decoration: none;
        font-weight: 600;
        font-size: 1.1em;
        padding-left: 10px;
        color: rgb(17, 75, 235);
    }
    .footer{
        padding: 20px 20px;
    }
    
    .footer p{
        font-size: 1.2em;
        font-weight: 500;
    }
    .footer span{
        /* color: rgb(17, 75, 235); */
        color: #3a6cf4;
        font-weight: 700;
    }
    .footer .social-icon a{
        margin-right: 10px;
        font-size: 1.4em;
    }

}


@media (max-width:500px) {
    body{
        font-size: 11px;
    }
    header{
        padding: 10px 20px;
    }
    .Me{
        font-size: 1.2em;
    }
     .social-icon a{
        font-size: 1.6em;
        margin-right: 20px;
    }
    section{
        padding: 20px 40px;
    }
    header nav a{
        text-decoration: none;
        font-weight: 600;
        font-size: 1.1em;
        padding-left: 7px;
        color: rgb(17, 75, 235);
    }
    .footer{
        padding: 16px 16px;
    }
    
    .footer p{
        font-size: 1em;
        font-weight: 400;
    }
    .footer span{
        /* color: rgb(17, 75, 235); */
        color: #3a6cf4;
        font-weight: 600;
    }
    .footer .social-icon a{
        margin-right: 8px;
        font-size: 1.4em;
    }

}



@media (max-width:250px) {
    body{
        font-size: 10px;
    }
    header{
        padding: 5px 5px;
    }
    .Me{
        font-size: 0.9em;
    }
     .social-icon a{
        font-size: 1.6em;
        margin-right: 18px;
    }
    section{
        padding: 10px 20px;
    }
    header nav a{
        text-decoration: none;
        font-weight: 600;
        font-size: 0.8em;
        padding-left: 2px;
        color: rgb(17, 75, 235);
    }
    .footer{
        padding: 5px 5px;
    }
    
    .footer p{
        font-size: 0.6em;
        font-weight: 300;
    }
    .footer span{
        /* color: rgb(17, 75, 235); */
        color: #3a6cf4;
        font-weight: 700;
    }
    .footer .social-icon a{
        margin-right: 4px;
        font-size: 0.8em;
    }

}


